* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gallery-body{
  color: #2E2F42;
  font-family: Montserrat;
   font-size: 12px;
   font-style: normal;
   letter-spacing: 0.48px;

}
.gallery-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  justify-items: center;
}

.gallery {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;

    gap: 24px; 
   max-width: calc(3 * 360px + 3 * 24px);
}

.gallery-image {
    width: 360px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
    object-fit: cover;
    
}
.stat-name {
  font-style: normal;
  font-weight: 600;
  line-height: 18px; 
  letter-spacing: 0.48px;
}
.stat-amount {
  line-height: 24px;
}
.imageStats {  
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 48px; 
  background-color: #FFFFFFCC;
  color: #2E2F42;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  
}
.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
}
.gallery-item {
  overflow: hidden;
  border: 1px solid #808080;
  position: relative
}
.search-form {
  font-family: Montserrat;
  line-height: 24px;
  font-size: 16px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 32px;
}
.user-input {
  font-family: Montserrat;
  width: 272px;
height: 40px;
border-radius: 4px;
border: 1px solid #808080;
padding-left: 16px; 
}
/* input[name="searchQuery"] {
  padding-left: 16px; 
} */
.button {
  font-family: Montserrat;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4E75FF;
  box-shadow: none;
  outline: none;
  border: none;
}
.user-input:hover {
  border: 1px solid #000;
}
.user-input:focus-visible {
  border: 1px solid #4E75FF !important;
}
.user-input:focus {
  outline: none;
  border: 1px solid #4E75FF;
}
.loader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: fixed;
      display: none;
      background-color: transparent;
      animation: rotate 1s linear infinite;
      z-index: 1000;
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #3498db;;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }